<div class="navbar">
    <a href="/" style="font-size: 24px;">Lego Fantasia</a>
    <div style="display: flex; align-items: center;">
        <ul>
            <li>
                <a class="<%= (page == '/lego/sets') ? 'active' : '' %>" href="/lego/sets">View Collection</a>
            </li>
            <li>
                <a class="<%= (page == '/about') ? 'active' : '' %>" href="/about">About</a>
            </li>
        </ul>
    </div>
</div>
